.wolf_header h3 {
  margin-top: 2rem;
  text-align: center;

  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
}

.wolf_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  padding: 2rem;

  margin: auto;
}

.buttons_container {
  display: flex;
  justify-content: space-evenly;
}

.wolf_container img {
  width: 430px;
  height: 330px;

  margin-bottom: 2rem;
}

.wolf_description {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1000px) {
  .wolf_container {
    flex-wrap: wrap;
  }
}
