.wolf_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding-bottom: 3em;
  padding-top: 3em;

  font-family: "Darker Grotesque", sans-serif;
}

.wolf_background {
  width: 430px;
  height: 328px;

  position: absolute;
  z-index: -1;
  top: -10%;
  left: -10%;

  background-color: #2c5680;
  border: 5px solid #333;
}

.wolf_description {
  padding-left: 2rem;
  padding-right: 5em;

  max-width: 600px;
}

.wolf_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wolf_header .name_age_container {
  padding-bottom: 1.5rem;
}

.wolf_header .name_age_container h3 {
  padding-bottom: 0.5rem;

  font-size: 3rem;
}

.wolf_header .name_age_container p {
  font-weight: 300;
  font-size: 1.3rem;
}

.wolf_body p {
  font-size: 1.5rem;
}

.wolf_img img {
  width: 430px;
  height: 330px;
}
