.section {
  width: 70%;

  margin: 3em auto;
}

.section_header {
  display: flex;
}

.section_header img {
  width: 200px;
  height: 200px;

  overflow: hidden;

  border-radius: 50%;

  margin-bottom: 3em;
}

.section_header .title_id {
  padding: 1em 2em;
}

.section_header .title_id h1 {
  font-weight: bold;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 4em;

  padding-bottom: 1rem;

  text-align: center;
}

.section_header .title_id p {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1rem;
}

.form_body {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-size: 2em;

  display: flex;
  flex-direction: column;
}

.form_body p {
  padding-bottom: 0.5rem;

  font-weight: normal;
}

.form_body input {
  border: none;
  border-bottom: 1px solid #333;
  background-color: #fff;

  padding-top: 0.5em;
  margin-bottom: 2em;
  width: 100%;

  font-size: 1.5rem;
}

.form_body input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #333;
  box-shadow: 0 2px 2px -2px #333;
}

.form_body .name_age {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.form_body .name {
  padding-right: 3rem;
}

.form_footer {
  text-align: center;
}
