.secondary_btn {
  padding: 0 1rem 0.5rem 1rem;

  font-size: 2em;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: bold;
  color: #333;

  text-align: center;

  background-color: #deb959;

  border: none;
}
