/* #region main-container */
.main_container {
  background-image: url(../../assets/images/background-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 70%;

  text-align: center;
  font-family: "Darker Grotesque", sans-serif;
  color: #fff;

  display: flex;
  justify-content: center;

  height: 500px;
}

.center {
  padding: 2em 10em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_container h1 {
  font-weight: bold;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 6em;

  padding-bottom: 2rem;
}

.main_container .body_underline {
  width: 200px;
  height: 0.4rem;

  background-color: #fff;
}

.main_container .txt {
  padding: 1rem;
  font-size: 2em;

  max-width: 600px;
}
/* #endregion main-container */

/* #region about-container */
.about_container {
  background-color: #2c5680;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2em 5em;

  text-align: center;
}

.about_container p {
  font-size: 1.5rem;
  font-family: "Darker Grotesque", sans-serif;
  color: #fff;
  padding-bottom: 1em;

  max-width: 900px;
}
/* #endregion about-container */

/* #region value-container */
.value_container {
  background-color: #333;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2em 5em;

  text-align: center;
}

.value_container .cards {
  display: flex;
  flex-wrap: wrap;
}
/* #endregion value-container */

.example_container {
  padding: 2em 5em;
}
