header {
  position: sticky;
  top: 0;
  z-index: 200;
}

.header_container {
  background-color: #85cdf5;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 0.5rem 0;

  text-align: center;
}

.header_container h4 {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: bold;
  font-size: 2rem;

  color: #333;

  cursor: pointer;
}

.header_container .about-us {
  position: relative;
  cursor: pointer;
}

.header_container .about_us .about_us_underline {
  height: 0.3em;
  width: 50%;

  position: absolute;
  right: 0;

  margin: 0.2em 0;

  background-color: #333;

  transition: 0.3s;
}

.header_container img {
  height: 6em;

  cursor: pointer;
}
