.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.5em;
  margin: auto;
  max-width: 280px;

  font-family: "Darker Grotesque", sans-serif;
}

.img {
  background-color: #fff;

  width: fit-content;
  padding: 2em;
  border-radius: 50%;
}

.card h3 {
  color: #fff;
  padding: 1rem 0;

  font-weight: bold;
  font-size: 2rem;
}

.card p {
  color: #fff;

  font-size: 1.5em;
}
