form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container {
  margin: 5em auto;
  padding: 5em;

  max-width: 900px;

  border: 4px solid #333333;
}

.form_header {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: #000;

  padding-bottom: 3rem;
}

.form_body {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-size: 2em;

  display: flex;
  flex-direction: column;
}

.form_body p {
  padding-bottom: 0.5rem;
  color: #333;
}

.form_body input {
  border: 1px solid #333;
  background-color: #e6e6e6;

  padding-top: 0.5em;
  margin-bottom: 2em;
  width: 100%;

  font-size: 1.5rem;
}

.form_body input:focus {
  outline: none !important;
  border: 1px solid #333;
  box-shadow: 0 0 5px #333;
}

.form_body .name_age {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.form_body .name {
  padding-right: 0.5em;
}

.form_body .description textarea {
  width: 100%;
  height: 20em;
  resize: none;

  border: 1px solid #333;
  background-color: #e6e6e6;

  font-size: 1.5rem;
}

.form_body .description textarea:focus {
  outline: none !important;
  border: 1px solid #333;
  box-shadow: 0 0 5px #333;
}
