.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 2rem;

  background-color: #333;
}

.footer p {
  color: #fff;
}

.footer .details {
  margin: 0 2em;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 20px;
}

.footer .details .address:first-child {
  padding-top: 1rem;
}

.footer .address,
.footer .phone,
.footer .email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer .address img,
.footer .phone img,
.footer .email img {
  padding: 0 1em;

  width: 1.5em;
}

.footer .paws {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .paws p {
  text-align: center;

  padding: 1em 0;
}

@media only screen and (max-width: 808px) {
  .footer .details {
    align-items: center;
  }
}
