.primary_btn {
  padding: 0.5em 3rem;
  margin-top: 1.5em;

  font-family: "Roboto", sans-serif;
  font-size: 2em;

  text-align: center;
  color: #fff;

  background-color: #2c5680;
  border: 1px solid #333;

  cursor: pointer;
}
