.search-container {
  display: flex;
  flex-direction: column;

  margin: 0 5em;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  margin: 2em 0;

  width: 100%;
}

.search .input {
  position: relative;

  width: 60%;
  margin-right: 3em;
}

.search .input input {
  width: 100%;
  height: 45px;

  border: 1px solid #333;

  font-size: 1.5em;

  padding-left: 2em;
}

.search .input img {
  position: absolute;

  top: 8px;
  left: 10px;

  cursor: pointer;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox input {
  scale: 1.5;

  cursor: pointer;
}

.checkbox label {
  padding: 0 1em 0.2em 1em;

  font-size: 1.5em;
  font-family: "Darker Grotesque", sans-serif;

  cursor: pointer;
}
