.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 50vh;

  margin: auto;
}

.main_container h1 {
  font-size: 4em;
  font-family: "Roboto", sans-serif;
}

.main_container p {
  font-size: 2em;
  font-family: "Darker Grotesque", sans-serif;

  text-align: center;

  margin-top: 1em;
  max-width: 1102.5px;

  padding: 0 2em;
}
